PORT: <your port>
HOST: <YOUR HOST>
DATABASE: <YOUR DATABASE NAME>
DATABASE_USERNAME: <YOUR USERNAME>
DATABASE_PORT: <YOUR DATABASE PORT>
SLACK_WEBHOOK_URL: <YOUR SLACK_WEBHOOK URL>
GOOGLE_CLIENT_ID: <YOUR GOOGLE CLIENT ID>
GOOGLE_CLIENT_SECRET: <YOUR GOOGLE CLIENT SECRET>